@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

:root {
    --light-primary-color: #1992D4;
    --light-primary-color-variant: #15a5f3;
    --light-secondary-color: #FACC15;
    --light-primary-surface-color: #fff;
    --light-background-color: #E2E8F0;
    --light-text-on-primary-color: #fff;
    --light-text-on-surface-color: #636363;
    --light-text-on-surface-color-strong: #000;
    
    --hover-opacity: 0.8;
}

body {
    min-height: 100%;
    min-width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: minmax(150px, 1fr) 5fr;
    grid-template-rows: minmax(75px, 1fr) minmax(120px, 2fr) 12fr;
}


.app-bar {
    background-color: var(--light-primary-surface-color);
    grid-column: 2 / -1;
    grid-row: 1 / span 1;
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 4px 32px;
}

#search-bar {
    border: none;
    border-radius: 500px;
    font-size: 1.2rem;
    padding: 4px 16px;
    flex-grow: 1;
    margin-left: -24px;
    background-color: var(--light-background-color);
}

#search-bar:hover {
    opacity: var(--hover-opacity);
}

#search-icon, #notification-bell {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

#search-icon:hover, #notification-bell:hover {
    opacity: var(--hover-opacity);
}

#notification-bell {
    margin-left: auto;
}

#profile-icon {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

#profile-icon:hover {
    opacity: var(--hover-opacity);
}

.app-bar-username {
    font-weight: bold;
    cursor: pointer;
}

.app-bar-username:hover {
    opacity: var(--hover-opacity);
}

.action-bar {
    background-color: var(--light-primary-surface-color);
    grid-column: 2 / -1;
    grid-row: 2 / span 1;
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 4px 32px;
}

.greetings-container {
    font-weight: 700;
    line-height: 1.6;
}

.greetings-container p:first-child {
    font-size: 1.1rem;
}

.greetings-container p {
    font-size: 1.6rem;
}

.action-bar button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 16px 14px 18px;
    color: #fff;
    background-color: var(--light-primary-color);
    height: calc(100% / 2.2);
    width: 160px;
}

.action-bar button:hover{
    background-color: var(--light-primary-color-variant);
}

button.new {
    margin-left: auto;
}

#profile-image {
    height: 90px;
    width: 90px;
    cursor: pointer;
}

#profile-image:hover {
    opacity: var(--hover-opacity);
}

.side-bar {
    background-color: var(--light-primary-color);
    grid-column: 1 / span 1;
    grid-row: 1 / -1;
}

main {
    background-color: var(--light-background-color);
    grid-column: 2 / -1;
    grid-row: 3 / -1;
    display: grid;
    grid-template-columns: 3fr minmax(300px, 1fr);
    height: 100%;
    padding: 24px;
    gap: 24px;
}

.projects-col {
    display: grid;
    grid-template-rows: 75px auto;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-auto-rows: 200px;
    row-gap: 35px;
    column-gap: 24px;
    margin-top: -24px;
}

.card {
    background-color: var(--light-primary-surface-color);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.misc-col {
    display: grid;
    grid-template-rows: 50px 400px 50px 350px;
    height: 100%;
    width: 100%;
}

.misc-col .header-1 {
}

.announcements-grid .card {
    height: 100%;
    max-height: 400px;
}

.misc-col .header-2, .misc-col .trending-grid {
    margin-top: 48px;
}

.trending-grid {
    background-color: var(--light-primary-surface-color);
    margin-bottom: 12px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    display: grid;
    align-items: center;
    grid-template-rows: repeat(auto-fill, 1fr);
    max-height: 350px;
}