@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

:root {
    --light-primary-color: #1992D4;
    --light-primary-color-variant: #15a5f3;
    --light-secondary-color: #FACC15;
    --light-primary-surface-color: #fff;
    --light-background-color: #E2E8F0;
    --light-text-on-primary-color: #fff;
    --light-text-on-surface-color: #4b4a4a;
    --light-text-on-surface-color-strong: #000;
    
    --hover-opacity: 0.8;
}

body {
    min-height: 100%;
    min-width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 5fr;
    grid-template-rows: minmax(75px, 1fr) minmax(120px, 2fr) 12fr;
}


.app-bar {
    background-color: var(--light-primary-surface-color);
    grid-column: 2 / -1;
    grid-row: 1 / span 1;
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 4px 32px;
}

#search-bar {
    border: none;
    border-radius: 500px;
    font-size: 1.2rem;
    padding: 4px 16px;
    flex-grow: 1;
    margin-left: -24px;
    background-color: var(--light-background-color);
}

#search-bar:hover {
    opacity: var(--hover-opacity);
}

#search-icon, #notification-bell {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

#search-icon:hover, #notification-bell:hover {
    opacity: var(--hover-opacity);
}

#notification-bell {
    margin-left: auto;
}

#profile-icon {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

#profile-icon:hover {
    opacity: var(--hover-opacity);
}

.app-bar-username {
    font-weight: bold;
    cursor: pointer;
}

.app-bar-username:hover {
    opacity: var(--hover-opacity);
}

.action-bar {
    background-color: var(--light-primary-surface-color);
    grid-column: 2 / -1;
    grid-row: 2 / span 1;
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 4px 32px;
}

.greetings-container {
    font-weight: 700;
    line-height: 1.6;
}

.greetings-container p:first-child {
    font-size: 1.1rem;
}

.greetings-container p {
    font-size: 1.6rem;
}

.action-bar button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 16px 14px 18px;
    color: #fff;
    background-color: var(--light-primary-color);
    height: calc(100% / 2.2);
    width: 160px;
}

.action-bar button:hover{
    background-color: var(--light-primary-color-variant);
}

button.new {
    margin-left: auto;
}

#profile-image {
    height: 90px;
    width: 90px;
    cursor: pointer;
}

#profile-image:hover {
    opacity: var(--hover-opacity);
}

.side-bar {
    background-color: var(--light-primary-color);
    grid-column: 1 / span 1;
    grid-row: 1 / -1;
    display: grid;
    grid-template-rows: 100px auto;
    gap: 50px;
    padding: 12px;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    flex-wrap: wrap;
}

.logo-container:hover {
    cursor: pointer;
    opacity: .98;
}

.logo-container img {
    width: 85px;
    height: 85px;
}

.logo-container .logo-text {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--light-text-on-primary-color)
}

.side-bar-navigation {
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: var(--light-text-on-primary-color);
    font-weight: 500
}

.side-group-1, .side-group-2 {
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(255,255,255,0.4);
    display: flex;
    flex-direction: column;
}

.side-group-1>div, .side-group-2>div {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
    padding: 4px 24px;
}

.side-group-1>div:hover, .side-group-2>div:hover {
    opacity: var(--hover-opacity);
    cursor: pointer;
}

.side-icon {
    width: 24px;
    height: 24px;
}



main {
    background-color: var(--light-background-color);
    grid-column: 2 / -1;
    grid-row: 3 / -1;
    display: grid;
    grid-template-columns: 3fr minmax(300px, 1fr);
    height: 100%;
    padding: 48px;
    gap: 24px;
}

.projects-col {
    display: grid;
    grid-template-rows: 75px auto;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 450px);
    grid-auto-rows: 250px;
    row-gap: 35px;
    column-gap: 64px;
    margin-top: -24px;
}

.card {
    background-color: var(--light-primary-surface-color);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 12px;
    border-radius: 6px;
}

.projects-grid .card {
    border-left: 6px solid var(--light-secondary-color);
}

.card:hover {
    box-shadow: 0 3px 10px rgba(0,0,0,0.16), 0 3px 10px rgba(0,0,0,0.23);
}

.card h1 {
    font-size: 1.8rem;
    font-weight: bold;
}

.card p {
    color: var(--light-text-on-surface-color)
}

.card .card-icon-container {
    margin-top: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
}

.card-icon-container>img {
    width: 42px;
    height: 42px;
    padding: 6px;
}

.card-icon-container>img:hover {
    background-color: rgb(0, 0, 0, 0.05);
    border-radius: 50%;
    cursor: pointer;
}

.misc-col {
    display: grid;
    grid-template-rows: 50px 400px 50px 350px;
    height: 100%;
    width: 100%;
}

.announcements-grid .card {
    height: 100%;
    max-height: 400px;
}

.misc-col .header-2, .misc-col .trending-grid {
    margin-top: 48px;
}

.trending-grid {
    background-color: var(--light-primary-surface-color);
    margin-bottom: 12px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    display: grid;
    align-items: center;
    grid-template-rows: repeat(auto-fill, 1fr);
    max-height: 350px;
}